**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*.user
**/*.csproj.user
**/bin
**/obj
docker-compose*
.env
.git
.vscode
*.md
Tests/
